body{
    font-family: 'Arial', sans-serif;
    color: #003366;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #F0F8FF, #e6e6e6);
    min-height: 100vh;
}

.header{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1%;
}
.headerB{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.uziv{
    display: inline-flex;
    align-items: center;
    padding: 1% 2% 1% 0;
}
.uziv_inf p{
    white-space: nowrap;
    text-align: left;
    margin: 0;
    padding: 1% 0;
}
.logo{
    margin-left: 1%; 
    max-width: 200px;
}  
input[type="submit"] {
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.footer{
    justify-content: center;
    background-color: #FFFFFF;
    padding: 1% 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}